<ion-view view-title="Calendar">
  <ion-content class="padding">

    <div class="card" ng-repeat="event in events">
      <div class="item item-divider">
        {{event.event_title}}
      </div>
      <div class="item item-text-wrap">

        <br/>
        <strong>Date: {{ event.event_date | myDateFormat }}</strong>
        <div>

        <div ng-bind-html="event.event_address">
          {{ event.event_address}}
         </div> 

         <div ng-bind-html="event.event_description">
          <p>{{ event.event_description }}
          <p/>
         </div>

          <button class="button button-block button-positive" id="calendarBtn" ng-click="createEvent()">
            Add to Device Calendar
          </button>

          <button class="button button-block button-danger" id="calendarBtn" ng-click="deleteEvent()">
            Remove Event 
          </button>

          </div>


      </div>
    </div>

  </ion-content>
</ion-view>
