<ion-view view-title="{{feed.title}}">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="https://ziviso.fndtechnologies.com/{{feed.client.logo}}">
        <h2>{{feed.groups[0].name}}</h2>

      </div>
      <div class="item item-image">
        <!--<img src="img/plain.jpg">-->
      </div>

      <a class="item item-icon-left assertive">
        <i class="icon ion-email"></i>
        Message
      </a>
      <div class="item item-text-wrap" ng-bind-html="feed.details">
        <p>{{feed.title}}</p>
        {{feed.details}}
      </div>

    </div>
  </ion-content>
</ion-view>
