<ion-view view-title="{{org.description}}">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="http://ziviso.afri-teq.com/{{ org.logo }}">
        <p><b><font size="5px">{{org.description}}</font></b></p>
      </div>

      <a class="item item-icon-left positive" ng-click="joinOrg(org.id)">
        <i class="icon ion-ios-personadd"></i>
        Join organisation's Ziviso mailing list
      </a>
      <div class="item item-text-wrap">

        <p><h3>{{org.user.email}}</h3></p>
        <p><h3>{{org.user.phone}}</h3></p>

      </div>

    </div>
    <div class="list card item-text-wrap">
      <p>Organization Additional Information</p>
    </div>
  </ion-content>
</ion-view>
