<ion-view view-title="{{org.client_name}}">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/logos/128/ziviso_wave128.png">
        <p><h1>{{org.client_name}}</h1></p>
      </div>
      <!--<div class="item item-image">-->
        <!--<img src="img/logos/128/ziviso128.png">-->
      <!--</div>-->

      <a class="item item-icon-left positive" ng-click="joinOrg(org.org_id)">
        <i class="icon ion-ios-personadd"></i>
        Join Organization
      </a>
      <div class="item item-text-wrap">

        <p><h3>{{org.client_email}}</h3></p>
        <p><h3>{{org.client_telephone}}</h3></p>
        <p><h3>{{org.client_address}}</h3></p>
      </div>

    </div>
    <div class="list card item-text-wrap">
      <p>Organization Additional Information</p>
    </div>
  </ion-content>
</ion-view>
