<ion-view view-title="{{ description }}">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="http://ziviso.afri-teq.com/{{ logo }}">
        <p><b><font size="5px">{{ name }}</font></b></p>
      </div>

      <a class="item item-icon-left positive" ng-click="joinOrg(id)">
        <i class="icon ion-ios-personadd"></i>
        Click here to join group
      </a>
      <div class="item item-text-wrap">

        <p><h3>{{orgemail}}</h3></p>
        <p><h3>{{orgphone}}</h3></p>

      </div>

    </div>
    <div class="list card item-text-wrap">
      <p>Organization Additional Information</p>
    </div>
  </ion-content>
</ion-view>
