<ion-view view-title="Profile">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/user.png">
        <h2>User Name</h2>
        <p>{{ name }}</p>
      </div>

      <a ui-sref="app.organizations" class="item item-icon-left">
        <i class="icon ion-card"></i>
        My Organizations
      </a>

      <!--<a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        +263 777 777 777
      </a>-->

      <a class="item item-icon-left">
        <i class="icon ion-email"></i>
        {{ email }}
      </a>

      <a ng-click="shareAnywhere()" class="item item-icon-left">
        <i class="icon ion-share"></i>
        Invite Friend to Ziviso
      </a>

    </div>
  </ion-content>
</ion-view>
