<ion-view hide-back-button="false" title="Signup" hide-nav-bar="false" >
  <ion-content class="has-header">
  
    <form name="form_signup" ng-submit="doSignup(userSignup)" novalidate>
        <div class="list">
          <!-- full name -->
          <label class="item item-input item-floating-label">
            <span class="input-label">Full Name</span>
            <input type="text" ng-model="$parent.userSignup.fullname" name="fullname" placeholder="Full Name" ng-minlength="5" ng-maxlength="50" required>
          </label>
          <div ng-messages="form_signup.fullname.$error" ng-messages-include="templates/error-messages.html" class="form-errors">
          </div>
          
          <!-- email -->
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" ng-model="$parent.userSignup.email" name="email" placeholder="Email" ng-minlength="5" ng-maxlength="50" required>
          </label>
          <div ng-messages="form_signup.email.$error" ng-messages-include="templates/error-messages.html" class="form-errors">
          </div>

          <!-- phone -->
          <label class="item item-input item-floating-label">
            <span class="input-label">Phone</span>
            <input type="text" ng-model="$parent.userSignup.phone" name="phone" placeholder="Phone" ng-minlength="5" ng-maxlength="50" required>
          </label>
          <div ng-messages="form_signup.phone.$error" ng-messages-include="templates/error-messages.html" class="form-errors">
          </div>

          <!-- profile -->
          <label class="item item-input item-floating-label">
            <span class="input-label">Profile</span>
            <textarea ng-model="$parent.userSignup.profile" name="profile" placeholder="Short description" ng-minlength="5" ng-maxlength="50" required>
            </textarea>
          </label>
          <div ng-messages="form_signup.profile.$error" ng-messages-include="templates/error-messages.html" class="form-errors">
          </div>
          
          <!-- username -->
          <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input type="text" ng-model="$parent.userSignup.username" name="username" placeholder="Username" ng-minlength="5" ng-maxlength="50" required>
          </label>
          <div ng-messages="form_signup.username.$error" ng-messages-include="templates/error-messages.html" class="form-errors">
          </div>
          
          <!-- password -->
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" ng-model="$parent.userSignup.password" name="password" placeholder="Password" ng-minlength="5" ng-maxlength="50" required>
          </label>
          <div ng-messages="form_signup.password.$error" ng-messages-include="templates/error-messages.html" class="form-errors">
          </div>

          <!-- confirm password -->
          <label class="item item-input item-floating-label">
            <span class="input-label">Confirm Password</span>
            <input type="password" ng-model="$parent.userSignup.password_confirmation" ng-pattern="$parent.userSignup.password" name="password_confirmation" placeholder="Confirm Password" ng-minlength="5" ng-maxlength="50" required>
          </label>
          <div ng-messages="form_signup.password_confirmation.$error" ng-messages-include="templates/error-messages.html" class="form-errors">
          </div>
          
          <!-- country -->
          <label class="item item-input item-floating-label">
            <span class="input-label">Country</span>
            <input type="text" ng-model="$parent.userSignup.country" name="country" placeholder="Country" ng-minlength="5" ng-maxlength="50" required>
          </label>
          <div ng-messages="form_signup.country.$error" ng-messages-include="templates/error-messages.html" class="form-errors">
          </div>

          <div class="padding" align="center">
            <button type="submit" class="button button-block button-calm signup" 
            ng-disabled="form_signup.$invalid">Signup</button>
          </div>
      
        </div>
        
     </form>
        
    
  </ion-content>

</ion-view>

